:root {
    --font1: 'DM Serif Display', serif;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Roboto', sans-serif;

    --main-bg-color: rgb(247, 241, 232);

    --text-color: rgb(24, 21, 17);
    --sub-text-color: rgb(54, 47, 38);

    --header-shadow-color: rgb(206, 194, 182);
    --header-box-shadow: 0px 0px 20px var(--header-shadow-color);

    --main-shadow-color: rgba(0, 0, 0, 0.25);
    --main-box-shadow: 0px 0px 35px var(--main-shadow-color);
    --main-h-box-shadow: 0px 0px 50px var(--main-shadow-color);
    --main-inset-box-shadow: 0px 0px 35px var(--main-shadow-color) inset;
    --main-r-box-shadow: 0px 0px 5vw var(--main-shadow-color);
    --main-r-inset-box-shadow: 0px 0px 5vw var(--main-shadow-color) inset;

    --arrow-color: rgb(196, 192, 186);
    --arrow-focus-color: rgb(212, 208, 201);

    --bg-color1: rgb(177, 226, 232);
    --bg-color2: rgb(195, 242, 202);
    --bg-color3: rgb(247, 206, 139);

    --bar-color: rgb(224, 219, 213);

    --main-bg-gradient: linear-gradient(60deg,
            var(--bg-color1) 0%,
            var(--bg-color2) 25%,
            var(--bg-color3) 50%,
            var(--bg-color1) 75%,
            var(--bg-color2) 100%);
}

body {
    background-color: var(--main-bg-color);
    margin: 0px;
    padding: 0px;
}

.bg-color1 {
    background-color: var(--bg-color1);
}

.bg-color2 {
    background-color: var(--bg-color2);
}

.bg-color3 {
    background-color: var(--bg-color3);
}